.orange-bg{
    background-color: #feeae9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-button{
    background-image: linear-gradient(to bottom , #ff589b 0%, #ff236f 100%);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3 {
    color: white;
    border-radius: 10px;
}
.cat-1{
    background-image: linear-gradient(to right, rgb(177, 177, 31), #e49e1d);
}
.cat-2{
    background-image: linear-gradient(to right, #ff0095, #fb068d);
}
.cat-3{
    background-image: linear-gradient(to right, blue, #4400ff);
}
.cat img{
width: 100px;
}
.Shoes img, .Bags img {
 width: 100%;
}
.carde {
    padding: 10px 20px;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 7px;
}
.carde p, .carde h3 {
    padding: 10px 0px;
}
.Shoes , .Bags{
    margin-bottom: 10px;
    margin-top: 10px;
}
section{
    margin-top: 10px;
}
.Subscribe {
   background-color: #feeae9;
   padding: 50px 10px;
    
}
.copyright{
    text-align: center;
    padding: auto;
    color: grey;
}